<option value="nothing">Nothing</option>
<option value="woolrich">Woolrich (winter) jacket (img)</option>
<option value="tshirtblue">T-shirt blue (image)</option>
<option value="pinkwinterhat">Pink winter hat (3D)</option>
<option value="costumemareouomo">Pantaloncini mare uomo (img)</option>
<option value="bikinidonna">Bikini mare donna (img)</option>
<option value="infradito">Infradito (img)</option>
<option value="cuffiaPiscina">Cuffia piscina (img)</option>
<option value="footballShoes">Scarpe da calcio</option>